.field-and-bench-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px; /* Mantén el ancho máximo del contenedor */
  flex-shrink: 0; /* Evita que el contenedor de campo y banco cambie de tamaño */
}

.formation-container { 
  position: relative;
  width: 100%; /* Ancho completo del contenedor padre */
  max-width: 1000px; /* Ancho máximo fijo */
  height: 500px; /* Altura fija */
  border: 1px solid #000;
  background: url('../img/canchafutbol.jpg') no-repeat center;
  background-size: cover;
  background-position: center;
  overflow: hidden; /* Evita que el contenido sobresalga */
  box-sizing: border-box;
  flex-shrink: 0; /* Evita que el campo cambie de tamaño */
}

.info {
  margin-top: 20px;
}

.remove-button-container {
  margin-top: 20px;
}

.remove-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: darkred;
}

.remove-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
