.notifications-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .notifications-container h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .notifications-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .notifications-container li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .notifications-container li:hover {
    background-color: #f1f1f1;
  }
  
  .notifications-container strong {
    color: #007bff; /* Color del tipo de evento */
    font-size: 18px;
  }
  
  .notifications-container p {
    text-align: center;
    color: #777;
  }
  
  .notifications-container small {
    color: #888;
    font-size: 12px;
    display: block;
    margin-top: 5px;
  }
  