.bench-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%; 
  max-width: 900px; /* Mantener el ancho igual al del campo */
  height: 100px;
  box-sizing: border-box;
  flex-shrink: 0; /* Evitar que el banco se encoja */
  min-width: 900px; /* Mínimo ancho para asegurarse de que no se reduzca */
}

.bench-player {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
  border-radius: 50%;
}

  .bench-player:hover {
    background-color: #e0e0e0; /* Color de fondo más oscuro al pasar el ratón */
  }
  
  .bench-player.selected {
    border-color: #ff0000; /* Rojo para destacar la selección del suplente */
  }
  