/* playertoken.css */

.player-token {
  position: absolute; /* Se asegura que los tokens no cambien el tamaño del contenedor */
  width: 50px; /* Tamaño fijo del token */
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  color: #000;
  margin: 0;
  box-sizing: border-box;
  flex-direction: column;
}

  
  .player-token.filled {
    background-color: #cce5ff;
  }
  
  .player-token.empty {
    background-color: #fff;
  }
  
  
  .selected-position {
    border: 2px solid #007bff;
  }
  
  .selected-substitute {
    border: 2px solid #007bff;
  }