.two-formation-container {
  display: flex;
  justify-content: space-between;
  gap: 50px; 
  margin: 20px 0;
}
.selected-position {
  border: 2px solid blue;
}

.selected-substitute {
  border: 2px solid red;
}
